body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*THIS IS THE CSS FOR THE CONTAINER */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*THIS IS THE CSS FOR THE CONTAINER */
.container img {
    max-width: 100%;
    height: auto;
}

.pic {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bullet {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.contact-info {
    margin-top: 20px;
}



