@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ff6b6b, #aa5040);
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.contact-form h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}

.contact-form h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0;
}

.contact-form .main {
    display: flex;
    margin: 30px 0;
}

.content {
    flex-basis: 50%;
    padding: 2em;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.form-img {
    flex-basis: 50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.form-img img {
    max-width: 100%;
}

.btn,
button,
input {
    border-radius: 35px;
    transition: 0.3s; /* Add a transition for smoother hover effect */
}

.btn:hover,
button:hover {
    color: #fff;
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
}

.contact-form form {
    margin: 30px 0;
}

.contact-form input,
.contact-form textarea {
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fcfcfc;
    transition: 0.3s;
}

.contact-form input:focus {
    background: #fff;
    border: 1px solid #aa5040;
}

.contact-form button {
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #aa5040;
    font-weight: 600;
    padding: 14px 15px;
    border: 1px solid #aa5040;
}

@media (max-width: 736px) {
    .contact-form .main {
        flex-direction: column;
    }

    .contact-form form {
        margin: 20px 0;
    }

    .form-img {
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 0;
    }

    .content {
        border-top-left-radius: 0;
        border-top-right-radius: 8px;
    }
}


/*

*/
