:root {
  --primary-color: #aa5040;
  --text-color-light: #ededed;
}

.welcome {
  background-color: var(--text-color-light);
  padding: 20px;
  text-align: center;
}

.search {
  text-align: center;
  padding: 20px;
}

.search input[type="text"] {
  padding: 10px;
  width: 250px; 
  border-radius: 10px;
  border: 1px solid var(--primary-color); 
}

.search button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-color); 
  color: var(--text-color-light);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px; 
}


.featured-books {
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

.featured-books h2 {
  margin-bottom: 10px;
  padding: 10px;
}

.img-container {
  display: flex; 
  justify-content: space-around; 
}

.img-container img {
  width: 100px; 
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd; 
  border-radius: 5px;
}
