:root {
  --primary-color: #aa5040;
  --text-color-light: #ededed;
}

.welcome {
  background-color: var(--text-color-light);
  padding: 20px;
  text-align: center;
}

.search {
  text-align: center;
  padding: 20px;
}

.search input[type="text"] {
  padding: 10px;
  width: 190px;
  border-radius: 10px;
}

.search button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: var(--text-color-light);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* Featured books section styles */
.featured-books {
  padding: 20px;
  overflow: hidden;
}

.featured-books h2 {
  margin-bottom: 10px;
  padding: 10px;
}

.img1 {
  width: 150px;
  display: flex;
}

.img1 img {
  width: 100%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
}
