:root {
  --primary-color: #aa5040;
  --text-color-light: #ededed;
}

.welcome {
  background-color: var(--text-color-light);
  padding: 20px;
  text-align: center;
}

.search {
  text-align: center;
  padding: 20px;
}

.search input[type="text"] {
  padding: 10px;
  width: 250px; /* Adjusted width for better visibility */
  border-radius: 10px;
  border: 1px solid var(--primary-color); /* Added border for better visibility */
}

.search button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-color); /* Adjusted button color */
  color: var(--text-color-light);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px; /* Added margin for better alignment */
}

/* Featured books section styles */
.featured-books {
  padding: 20px;
  overflow: hidden;
  text-align: center; /* Centered the content */
}

.featured-books h2 {
  margin-bottom: 10px;
  padding: 10px;
}

.img-container {
  display: flex; /* Changed class name to better represent its purpose */
  justify-content: space-around; /* Adjusted to evenly distribute the images */
}

.img-container img {
  width: 100px; /* Adjusted image width for better display */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd; /* Added border for better separation */
  border-radius: 5px; /* Added border radius for a better look */
}
