@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

navbar {

    text-decoration: none;
    text-decoration-color: #fff;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: rgb(168, 128, 37);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
  flex: 1;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    padding-bottom: 13px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
    margin-bottom: 20px;
}

.remember-forget label {
    display: inline-block;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.forgot-password {
    text-decoration: none;
    color: #18cdff;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #bd5d2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    text-decoration: none;
    color: #18cdff;
}


